<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Cadastro</title>
</head>
<body>
    <form action="/cadastro" method="POST">
        <label for="nome">NOME COMPLETO:</label>
        <br>
        <input type="text" name="nome" placeholder="nome completo" required>
        <br>
        <label for="email">EMAIL:</label>
        <br>
        <input type="text" name="email" placeholder="exemplo@gmail.com" required>
        <br>
        <label for="cpf">CPF:</label>
        <br>
        <input type="text" name="cpf" placeholder="xxx.xxx.xxx-xx" required>
        <br>
        <label for="senha">SENHA:</label>
        <br>
        <input type="text" name="senha" placeholder="senha" required>
        <br>
        <button type="submit"></button>
    </form>
</body>
</html>