<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Login</title>
</head>
<body>
    <form method="POST" action="/login">
        <h2>Login</h2>
        <input type="text" name="email" placeholder="email:" required>
        <br>
        <input type="password" name="senha" placeholder="senha:" required>
        <br>
        <button type="submit">Entrar</button>
        <button><a href="/cadastro">Cadastre-Se</a></button>
    </form>

    <div>
        <img src="" alt="MVC-Logo">
    </div>
</body>
</html>