<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="overlay"></div>
    <div class="quadro">
        <img src="../static/imagens/mvc-logo.png" id="mvc-logo" alt="Logo MVC Biblioteca">

        <form method="POST" action="/login">
            <h2 class="titulo-login">Login</h2>
            <div class="input-group">
                <input type="text" id="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-group">
                <input type="password" id="senha" name="senha" required>
                <label for="senha">Senha</label>
            </div>
            <button type="submit" class="btn-entrar">Entrar</button>
            <a href="/cadastro" class="btn-cadastro">Cadastre-se</a>
        </form>
    </div>


</body>

</html>